.NewGame{
    
position:fixed; 
left:170px; 
top:20px;

}

.NextLevel {

    position:fixed; 
    left: 300px; 
    top:20px;
    
   
}

.LastLevel {

    position:fixed;
    left:425px; 
    top:20px; 
    
}
